---
layout: main
---
<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>{{ title }}</h1>
      <p>{{subtitle}}</p>
    </header>
    <p>{{summary}}</p>
    <!--<ul class="actions">
        <li><a href="descripcion" class="button big">Comenzar</a></li>
    </ul>-->
  </div>
  <span class="image object">
    <img src="{{ page.url | baseUrl }}{{ banner.src }}" alt="" />
  </span>
</section>

<section>
  {{ content }}
</section>

